@model WebAppTest.Medal

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Medal</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MedalName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedalName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedalGroup)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedalGroup)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedalQuantity)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedalQuantity)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedalPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedalPrice)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedalType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedalType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedalSize)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedalSize)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MedalFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MedalFamily)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
